@media (max-width: 500px) {
    .items {
        padding: 30px 0;
        justify-content: center;
        align-items: center;
    }

    .order-all-button {
        left: 10%;
    }
}

@media (max-width: 380px) {
    .order-all-button {
        left: 8%;
    }
}

@media (max-width: 330px) {
    .order-all-button {
        left: 6%;
    }
}